* {
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
}

.logo {
    color: rebeccapurple;
    height: 100px;
    width: 100px;
}

img {
    height: 400px;
    width: 400px;
    background: none;
    filter: sepia(300%) hue-rotate(90deg) saturate(50%);
}