* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

.logo {
    color: rebeccapurple;
    height: 100px;
    width: 100px;
}

img {
    background-color: red;
    background-image: red;
    height: 150px;
    width: 150px;
    filter: invert(40%);
    background: none;
}

h1 {
    top: 50%;
    margin: 1em;
    font-size: 3em;
    text-decoration: none;
}

p {
    text-decoration: none;
    top: 60%;
    margin: 1em;
    font-size: 2em;
}